<div id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center">
                <h1>FORMATURA DA TURMA 51🎓</h1>
                <h4>Nós, da família 51 da Generation Brasil, te convidamos para celebrar esse momento tão especial conosco!</h4>
                <h6>Data: 20/06 | Hora: 17h30</h6>
                <a href="https://generationinitiative.zoom.us/my/thiagofaccipieri" class="btn button-dark btn-dark button mr-2" role="button" aria-pressed="true">📍Evento online</a>
                <a href="https://www.youtube.com/watch?v=cDFk_Z9TkLA" class="btn button-dark btn-outline-dark button" role="button" aria-pressed="true">Conheça a Turma 51❤️</a>
            </div>
            <div class="col-md-5 align-self-right"> 
                <img src="assets/lua.png" class="img-fluid"/>
            </div>
            </div>
        </div>
        </div>